<IfModule mod_rewrite.c>
  #SSL
	RewriteCond %{HTTPS} !=on
	RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  
  #Remove Public from URL
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
